spring:
  application:
    name: Blog

  datasource:
    url: jdbc:postgresql://localhost:5431/Blog
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: false
    locations: classpath:db/migration
    # baseline-on-migrate: true
